@model List<Team>
<h2>Команды</h2>
<table>
    @foreach (Team t in Model)
    {
        <tr>
            <td>@t.Name</td>
            <td>
                <form asp-action="DeleteTeam" method="post" asp-route-id="@t.Id">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>