@model Person

<h1>Авторизация</h1>

<form method="post">
    <label asp-for="Email">Email:</label><br />
    <input asp-for="Email" type="email"><br />
    <br />
    <label asp-for="Password">Пароль:</label><br />
    <input asp-for="Password" type="password"><br />
    <br />
    <input type="submit" value="Войти" />
</form>
<br />
<p><b>Еще не зарегистрированы?</b></p>
<button><a asp-action="Reg">Регистрация</a></button>
@* <input type="submit" action="Reg" value="Регистрация" method="get"/> *@
