@model List<Team>
<h2>Команды</h2>
<table id="TeamsTable">
    @foreach (Team t in Model)
    {
        <tr id="@t.Id">
            <td>@t.Name</td>
            <td>
                <form asp-action="Delete" method="post" asp-route-id="@t.Id">
                    <input class="btn" type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/team_table.js"></script>