@model Footballers.ViewModels.FormViewModel
<h2>Изменить Информацию о Футболисте</h2>
<form method="post" >
    <input type="hidden" asp-for="Footballer.Id" />
    <label asp-for="Footballer.FirstName">Имя:</label><br />
    <input asp-for="Footballer.FirstName" />
    <span asp-validation-for="Footballer.FirstName" />
    <br />

    <label asp-for="Footballer.SecondName">Фамилия:</label><br />
    <input asp-for="Footballer.SecondName" />
    <span asp-validation-for="Footballer.SecondName" />
    <br />

    @{
        var genders = new SelectList(Model.Genders, "Gender");
    }
    <label asp-for="Footballer.Gender">Пол:</label><br />
    <select asp-for="Footballer.Gender" asp-items="@genders">Пол:</select>
    <span asp-validation-for="Footballer.Gender" />
    <br />

    <label asp-for="Footballer.BirthDay">Дата Рождения:</label><br />
    <input asp-for="Footballer.BirthDay" type="date"/>
    <span asp-validation-for="Footballer.BirthDay" />
    <br />

    @{
        var teams = new SelectList(Model.Teams, "Id", "Name");
    }
    <label asp-for="Footballer.TeamId">Команда:</label><br />
    <select asp-for="Footballer.TeamId" asp-items="@teams">Команда:</select>
    <span asp-validation-for="Footballer.TeamId" />

    <br />
    @{
        var countries = new SelectList(Model.Countries, "Id", "Name");
    }
    <label asp-for="Footballer.CountryId">Страна:</label><br />
    <select asp-for="Footballer.CountryId" asp-items="@countries">Страна:</select>
    <span asp-validation-for="Footballer.CountryId" />
    <br />
    <br />
    <input class="btn" type="submit" value="Сохранить" />
</form>
